<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FileShare</title>
  </head>
  <body>
    <div className="header-grid">
        <div className="header-item">FileShare</div>
        <div className="header-item">An Error Occurred!</div>
    </div>
  </body>
</html>