<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/home/admin/FileShareFrontEnd/src/public/html-objects.css">
    <title>FileShare</title>
  </head>
  <body>
    <div class="header-grid">
        <div class="header-item">FileShare</div>
    </div>
    <div class="header-item">An Error Occurred!</div>
  </body>
</html>