<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://dabblestudios.tplinkdns.com:16000/css">
    <title>Homepage</title>
    <script src="http://dabblestudios.tplinkdns.com:16000/buttonScript"></script>
  </head>
  <body>
    <%- include("reusables/header")%>
    <% if (files)%>
      <ul>
        <% Object.keys(files).forEach(function(file){ %>
          <li><%=files[file]%> | id = <%=file%><button onclick="OnDownloadClick('<%=file%>')">Download </button></li>
        <% });%>
      </ul>


    <form id="uploadForm">
      <input type = "file" id="fileSelect">/>
      <button onclick="OnUploadClick">Upload</button
    </form>
    </div>
  </body>
</html>