<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://192.168.1.130:65000/public/html-objects.css">
    <title>FileShare</title>
  </head>
  <body>
    <div class="header-grid">
        <div class="header-item">FileShare</div>
    </div>
    <div class="header-item">Welcome!</div>
  </body>
</html>