<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://dabblestudios.tplinkdns.com:16000/css">
    <title>Homepage</title>
  </head>
  <body>

    <% if (files)%>
      <ul>
        <% Object.keys(files).forEach(function(file){ %>
          <li><%files[file]%></li>
        <% });%>
      </ul>
    
  </body>
</html>