<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://dabblestudios.tplinkdns.com:16000/css">
    <title>LogInPage</title>
  </head>
  <body>
    <%- include("reusables/header") %>
    <div class="header-item">Welcome!</div>
    <div id="input-container" class="input-grid">
    <!-- username comes here-->
    </div>

    <script type="module" src="http://dabblestudios.tplinkdns.com:16000/script"></script>
  </body>
</html>