<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://dabblestudios.tplinkdns.com:16000/css">
    <title>FileShare</title>
  </head>
  <body>
    <div class="header-grid">
        <div class="header-item">FileShare</div>
    </div>
  </body>
</html>